containers:
  core:
    startAfterCreate: true
    image: aau-cns-docker/docker_registry/flightstack:latest
    entrypoint: ["/lib/systemd/systemd"]
    env: ["container=docker"]
    stopSignal: RTMIN+3
    tty: true
    restartPolicy: "always"
    disableInit: true
    workingDirectory: /home/core
    mounts:
      - /dev:/dev
      - /sys:/sys
      - /lib/modules:/lib/modules
      - /mnt:/mnt
      - /run/udev:/run/udev
      - /mnt/persist/core:/home/core
      - /etc/resolv.conf:/etc/resolv.conf:ro
      - /etc/hostname:/etc/hostname:ro
    privileged: true
    capAdd:
      - ALL
    hostIPC: true
    hostUTS: true
    hostNetwork: true
    securityOpt:
      - seccomp=unconfined
users:
  core:
    container: core
    containerUser: core
    containerShell:
      - "/bin/bash"
    auth:
      copyRootKeys: true
images:
  aau-cns-docker/docker_registry/flightstack:latest:
    pull:
      # images are provided for arm64, arm, amd64
      # also an option: policy: ifbuildfails
      policy: ifnotexists
      registry: gitlab.aau.at:5050
    build:
      source: /mnt/rootfs/coreenv/flightstack
      squash: true
