containers:
  flightstack:
    image: aau-cns-docker/docker_registry/flight_stack:latest
    entrypoint: ["/lib/systemd/systemd"]
    env:
      - "container=docker"
      - "LANG=en_US.UTF-8"
      - "LANGUAGE=en_US:en"
      - "LC_ALL=en_US.UTF-8"
      - "ROS_DISTRO=noetic"
    stopSignal: RTMIN+3
    tty: true
    disableInit: true
    workingDirectory: /home/flightstack
    mounts:
      - /dev:/dev
      - /etc/hostname:/etc/hostname:ro
      - /lib/modules:/lib/modules:ro
      - /sys:/sys
      - /mnt:/mnt
      - /run/udev:/run/udev
      - /etc/resolv.conf:/etc/resolv.conf:ro
      - /mnt/persist/flightstack:/home/flightstack
      - /mnt/persist/core:/home/core
    privileged: true
    startAfterCreate: true
    restartPolicy: "always"
    capAdd:
      - ALL
    hostIPC: true
    hostUTS: true
    hostNetwork: true
    securityOpt:
      - seccomp=unconfined
users:
  core:
    container: flightstack
    containerUser: core
    containerShell:
      - "/bin/bash"
    auth:
      copyRootKeys: true
  flightstack:
    container: flightstack
    containerUser: flightstack
    containerShell:
      - "/bin/bash"
    auth:
      copyRootKeys: true
images:
  aau-cns-docker/docker_registry/flight_stack:latest:
    pull:
      # images are provided for arm64, arm, amd64
      # also an option: policy: ifbuildfails
      policy: ifnotexists
      registry: gitlab.aau.at:5050
    build:
      source: /mnt/rootfs/coreenv/flightstack
      dockerfile: Dockerfile
      squash: true
      buildArgs:
        VERSION: 1.0.0-rc1
        BUILD_TIMESTAMP: internal
        BASE_TAG: latest
  aau-cns-docker/docker_registry/flight_stack_base:latest:
    pull:
      # images are provided for arm64, arm, amd64
      # also an option: policy: ifbuildfails
      policy: ifnotexists
      registry: gitlab.aau.at:5050
    build:
      source: /mnt/rootfs/coreenv/flightstack
      dockerfile: Dockerfile.base
      squash: true
      buildArgs:
        ROS_BUILD_DISTRO: noetic
        VERSION: 1.0.0-rc1
        BUILD_TIMESTAMP: internal
        UNIX_BASE: ubuntu:focal
