containers:
  # INFO: the default container sets up the flightstack user
  #       and mounts the flightstack drive to home
  flightstack:
    image: aaucns/flightstack:stable
    entrypoint: ["/lib/systemd/systemd"]
    env:
      - "container=docker"
      - "LANG=en_US.UTF-8"
      - "LANGUAGE=en_US:en"
      - "LC_ALL=en_US.UTF-8"
      - "ROS_DISTRO=noetic"
    stopSignal: RTMIN+3
    tty: true
    disableInit: true
    workingDirectory: /home/flightstack
    # default DNS servers
    dns: ["1.1.1.1", "8.8.8.8"]
    mounts:
      - /dev:/dev
      - /etc/hostname:/etc/hostname:ro
      - /etc/resolv.conf:/etc/resolv.conf:ro
      - /lib/modules:/lib/modules:ro
      - /sys:/sys
      - /mnt:/mnt
      - /run/udev:/run/udev
      - /mnt/persist/skiff/core/repos/apt:/var/lib/apt
      - /mnt/persist/skiff/core/repos/linux:/usr/src
      - /mnt/persist/skiff/core/repos/log:/var/log
      - /mnt/persist/skiff/core/repos/tmp:/var/tmp
      - /mnt/persist/flightstack:/home/flightstack
    privileged: true
    startAfterCreate: true
    restartPolicy: "always"
    capAdd:
      - ALL
    hostIPC: true
    hostUTS: true
    hostNetwork: true
    securityOpt:
      - seccomp=unconfined
    tmpFs:
      /run: rw,noexec,nosuid,size=65536k
      /run/lock: rw,noexec,nosuid,size=65536k
# INFO: by default the flightstack image only provides the 
#       flightstack user
users:
  flightstack:
    container: flightstack
    containerUser: flightstack
    containerShell:
      - "/bin/bash"
    auth:
      copyRootKeys: true
# INFO: here the images for the flightstack are defined
#       Only the final Skiff Image is by default used,
#       which should be pulled from Dockerhub.
images:
  aaucns/flightstack:stable:
    pull:
      # images are provided for arm64, arm, amd64
      # also an option: policy: ifbuildfails
      policy: ifnotexists
    build:
      source: /mnt/rootfs/coreenv/flightstack
      dockerfile: Dockerfile
      squash: true
      buildArgs:
        BASE_REGISTRY: aaucns/flightstack-base
        BASE_TAG: stable
        BUILD_TIMESTAMP: internal
        VERSION: 1.0.0-rc1
  # INFO: uncomment the following, if issues with pulling 
  #       the base image exist
  #
  # aaucns/flightstack-base:stable:
  #   pull:
  #     # images are provided for arm64, arm, amd64
  #     # also an option: policy: ifnotexists
  #     policy: ifbuildfails
  #   build:
  #     source: /mnt/rootfs/coreenv/flightstack
  #     dockerfile: Dockerfile.base
  #     squash: true
  #     buildArgs:
  #       ROS_BUILD_DISTRO: noetic
  #       VERSION: 1.0.0-rc1
  #       BUILD_TIMESTAMP: internal
  #       UNIX_BASE: ubuntu:focal
