[Unit]
Description=Init core home directory
DefaultDependencies=no
Requires=home-core.mount
After=home-core.mount

[Service]
Type=oneshot
ExecStart=/opt/skiff-core/scripts/init-home.sh core

[Install]
WantedBy=multi-user.target
